
.home {
  min-height: 100vh;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  color: white;
}
.home__background {
  background-color: #8e8e8e;
  background-image: url(https://raw.githubusercontent.com/JACKZON-DEVELOPER/JACKZON-DEVELOPER.github.io/master/Picture/img/home.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;

}
.detail-home{
  font-family: 'Oswald', sans-serif;
 margin-left: 2rem;
 margin-right: 2rem;
}
.hero-imageContainer{
  width: 4rem;
  height: 4rem;
    font-size: 4rem;
    margin: 0 1rem  0 1rem;
}

.hero-icon{
  text-decoration: none;
  max-width: 100%;
}

.habilidades-card p{
  font-size: 1rem;
}


.habilidades-card{
padding-top: 2rem;
justify-items: center;
display: grid;
border-radius: 1rem;
}

.habilidades-card:hover{
  transition: 0.5s;
  background-color: #0093E9;
 background-image: -webkit-linear-gradient(70deg, #0093E9 0%, #80D0C7 100%);
 background-image: -o-linear-gradient(70deg, #0093E9 0%, #80D0C7 100%);
 background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  color: #ffffff;
}

.habilidades-card:hover .tec-imageContainer:hover{
  transform: translateY(-1rem);
}
.tec-imageContainer{

}


.tec-imageContainer{
  width: 100px;
  height: 100px;
}

.tec-image{
  width: 100%;
}


.contact-contact{

display: grid;
justify-items: center;
}

.contact-imageContainer{
  width: 4rem;
  height: 4rem;
    font-size: 4rem;

}




















.portafolio{
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */

}

.proyect{
  /* background-color: #8e8e8e; */
  background-color: linear-gradient(#92bCa6, #A2CCB6);

  background-size: contain;
  background-position: top;
  padding: 0;
  margin-bottom: 2rem;

}




.proyect:hover{
    transform: translateY(-1rem);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.proyect-imageContainer{

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-top: 3rem;
 
  color: #000000;
border-radius: 50%;
align-self: center;
margin-bottom: -15px;
position: inherit;


}
.icon-portafolio{
  font-size: 3rem;
}

.proyect-image{
  max-width: 100%;
  object-fit: cover;
}

.proyect-deteil{
  padding: 1rem;
  background: white;
}
.proyect-title{
  margin-bottom: 1rem;
}

.proyect-enlace{
  display: flex;
  justify-content: end;
  font-size: 1rem;

}
.proyect-repo{
  padding: 10px;
  border-radius: 50%;
  font-size: 2rem;
}




@media screen and (max-width:480px) {
  .home-detail{
    text-align: center;
  }
}
